<div id="apropos-credits">
  <h3>{% include i18n.html key="Crédits" %}</h3>
  <p>{% include i18n.html key="Direction publication" %}</p>
  <p>{% include i18n.html key="Auteurs textes" %}</p>
  <p>{% include i18n.html key="Developpement publication" %}</p>
  <p>{% include i18n.html key="Design publication" %}</p>
  <p>{% include i18n.html key="Photographies publication" %}</p>
  <p>{% include i18n.html key="Coordination editoriale" %}</p>
  <p>{% include i18n.html key="Infographie plan villa" %}</p>
  <p>{% include i18n.html key="Typographies publication" %}</p>
  <a id="logo-mairie-toulouse" href="https://toulouse.fr/"><img src="/images/logo-mairie-Toulouse.png" alt="Mairie de Toulouse"></a>
  <a id="logo-MSR" href="https://saintraymond.toulouse.fr/"><img src="/images/logo-MSR.png" alt="Musée Saint-Raymond Archéologie Toulouse"></a>
  <h3>{% include i18n.html key="Citer cet ouvrage" %}</h3>
  <p><span class="caps">{{ site.author.name_id }}</span>, <em>{{ site.title_complet }}</em>, {{ site.place }}, {{ site.date }}, {% include i18n.html key="en ligne" %} <{{ site.url }}>.<br>
  {{ site.isbn_numerique }}</p>
  <h3>{% include i18n.html key="Téléchargements" %}</h3>
  <p><a href="/villa-chiragan-donnees-export.csv">{% include i18n.html key="Données notices tableur" %}</a></p>
  <p><a href="/villa-chiragan-images.zip">{% include i18n.html key="Ensemble des images des notices" %}</a></p>
  <h3>{% include i18n.html key="Sources du catalogue" %}</h3>
  <p>{% include i18n.html key="Sources du catalogue disponibles" %} <a href="https://gitlab.com/musee-saint-raymond/villa-chiragan/">https://gitlab.com/musee-saint-raymond/villa-chiragan/</a></p>
</div>
