---
layout: microtypo
---
<!DOCTYPE html>
{% include head.html %}
<body id="home">

  <header id="header-catalogue">

    <div class="header-catalogue-content">
      <nav class="home-navbar">

        <p class="collection">{{ site.collection_catalogues }}</p>

        <!-- Language switcher -->
        <ul class="home-lang-list">
          {% if site.locale == "en_EN" %}
          <li class="home-lang-item">
            <a class="home-lang-switcher" href="{{ site.url }}/{{ page.slug }}" rel="alternate" lang="fr">Français</a>
          </li>
          {% else %}
          <li class="home-lang-item">
            <span class="home-lang-switcher current">Français</span>
          </li>
          {% endif %}
          {% if site.locale == "fr_FR" %}
          <li class="home-lang-item">
            <a class="home-lang-switcher" href="{{ site.url | append: '/en' }}/{{ page.slug }}" rel="alternate" lang="en">English</a>
          </li>
          {% else %}
          <li class="home-lang-item">
            <span class="home-lang-switcher current">English</span>
          </li>
          {% endif %}
        </ul>
      </nav>

      <hgroup>
        <h1>{% include i18n.html key="Titre_principal_html" %}</h1>
        <h2>{{ site.producteur }}</h2>
        <h3>{{ site.producteur_complement }}</h3>
      </hgroup>

      <div class="icon-scroll">
        <div class="mouse">
          <div class="wheel"></div>
        </div>
        <div class="icon-arrows">
          <span></span>
        </div>
      </div>
    </div>

    <figure><img src="/images/ra-61-b-0.jpg" alt="RA 61 b"> </figure>

  </header>

  <div class="liminaire" id="liminaire">
    <div class="liminaire-content">
      <div class="content">
        <!-- Liminaire -->
        {{ page.content | markdownify }}
      </div>
    </div>
  </div>

  <section id="toc-home">
    <section id="toc-home-partie-1" class="toc-home-partie">
      <a href="{{ site.baseurl }}/partie-01-introduction/">
        <div id="link-part-1" class="link-part">
          {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 1 %}
            <h1><small>{% include i18n.html key="Partie" %} {{ contenus.partie_numero }}</small> {{ contenus.title }}</h1>
            <h2>{{ contenus.sous_titre }}</h2>
          {% endif %}{% endfor %}
        </div>
        <figure class="fig-part" id="fig-part1-1">
          <img src="/images/1-Ra-178.jpg" srcset="/images/1-Ra-178-400.jpg 400w, /images/1-Ra-178-600.jpg 600w, /images/1-Ra-178.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
        <figure class="fig-part" id="fig-part1-2">
          <img src="/images/2-Ra-165-6.jpg" srcset="/images/2-Ra-165-6-400.jpg 400w, /images/2-Ra-165-6-600.jpg 600w, /images/2-Ra-165-6.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
        <figure class="fig-part" id="fig-part1-3">
          <img src="/images/3-Ra-32.jpg" srcset="/images/3-Ra-32-400.jpg 400w, /images/3-Ra-32-600.jpg 600w, /images/3-Ra-32.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
      </a>
    </section>

    <section id="toc-home-partie-2" class="toc-home-partie">
      <a href="{{ site.baseurl }}/partie-02-galerie-des-portraits/">
        <div id="link-part-2" class="link-part">
          {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 2 %}
            <h1><small>{% include i18n.html key="Partie" %} {{ contenus.partie_numero }}</small> {{ contenus.title }}</h1>
            <h2>{{ contenus.sous_titre }}</h2>
          {% endif %}{% endfor %}
        </div>
        <figure class="fig-part">
          <img src="/images/2-Ra-121-8.jpg" srcset="/images/2-Ra-121-8-400.jpg 400w, /images/2-Ra-121-8-600.jpg 600w, /images/2-Ra-121-8.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
        <figure class="fig-part" class="toc-home-partie">
          <img src="/images/2-Ra-167-1.jpg" srcset="/images/2-Ra-167-1-400.jpg 400w, /images/2-Ra-167-1-600.jpg 600w, /images/2-Ra-167-1.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
        <figure class="fig-part">
          <img src="/images/2-Ra-58-b-4.jpg" srcset="/images/2-Ra-58-b-4-400.jpg 400w, /images/2-Ra-58-b-4-600.jpg 600w, /images/2-Ra-58-b-4.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
      </a>
    </section>


    <section id="toc-home-partie-3" class="toc-home-partie">
      <a href="{{ site.baseurl }}/partie-03-l-art-grec-revisite/">
        <div id="link-part-3" class="link-part">
          {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 3 %}
            <h1><small>{% include i18n.html key="Partie" %} {{ contenus.partie_numero }}</small> {{ contenus.title }}</h1>
            <h2>{{ contenus.sous_titre }}</h2>
          {% endif %}{% endfor %}
        </div>
        <figure class="fig-part">
          <img src="/images/3-Ra-134-137-2.jpg" srcset="/images/3-Ra-134-137-2-400.jpg 400w, /images/3-Ra-134-137-2-600.jpg 600w, /images/3-Ra-134-137-2.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>

        <figure class="fig-part">
          <img src="/images/3-Ra-46-2.jpg" srcset="/images/3-Ra-46-2-400.jpg 400w, /images/3-Ra-46-2-600.jpg 600w, /images/3-Ra-46-2.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>

        <figure class="fig-part">
          <img src="/images/3-Ra-113-1.jpg" srcset="/images/3-Ra-113-1-400.jpg 400w, /images/3-Ra-113-1-600.jpg 600w, /images/3-Ra-113-1.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
      </a>
    </section>


    <section id="toc-home-partie-4" class="toc-home-partie">
      <a href="{{ site.baseurl }}/partie-04-l-antiquite-tardive/">
        <div id="link-part-4" class="link-part">
          {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 4 %}
            <h1><small>{% include i18n.html key="Partie" %} {{ contenus.partie_numero }}</small> {{ contenus.title }}</h1>
            <h2>{{ contenus.sous_titre }}</h2>
          {% endif %}{% endfor %}
        </div>
        <figure class="fig-part">
          <img src="/images/4-Ra-28-l.jpg" srcset="/images/4-Ra-28-l-400.jpg 400w, /images/4-Ra-28-l-600.jpg 600w, /images/4-Ra-28-l.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
        <figure class="fig-part">
          <img src="/images/4-Ra-38-2.jpg" srcset="/images/4-Ra-38-2-400.jpg 400w, /images/4-Ra-38-2-600.jpg 600w, /images/4-Ra-38-2.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
        <figure class="fig-part">
          <img src="/images/4-Ra-50-bis.jpg" srcset="/images/4-Ra-50-bis-400.jpg 400w, /images/4-Ra-50-bis-600.jpg 600w, /images/4-Ra-50-bis.jpg 1000w" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
        </figure>
      </a>
    </section>

  </section>
{% include footer.html %}
